DEBUG=True
SECRET_KEY=django-insecure-change-me
DB_PATH=D:\I+D\AeroOpsDesk_Data\db\aero_ops.sqlite3
DOCUMENTS_DIR=D:\I+D\AeroOpsDesk_Data\documents
BACKUPS_DIR=D:\I+D\AeroOpsDesk_Data\backups
LOGS_DIR=D:\I+D\AeroOpsDesk_Data\logs
EXPORTS_DIR=D:\I+D\AeroOpsDesk_Data\exports
# DB_SSLMODE=require
# DB_CONN_MAX_AGE=60
