{% extends "generic/list.html" %}
{% load i18n %}

{% block list_actions %}<a class="btn btn-outline-secondary" href="{% url 'aircraft-import' %}">{% translate "Import" %}</a>{% endblock %}

{% block list_header %}
<th>{% translate "Registration" %}</th>
<th>{% translate "Model" %}</th>
<th>{% translate "Manufacturer" %}</th>
<th>{% translate "Cost center" %}</th>
<th>{% translate "Status" %}</th>
<th>{% translate "Location" %}</th>
<th>{% translate "Insurance" %}</th>
{% endblock %}

{% block table_body %}{% include "registry/_aircraft_rows.html" %}{% endblock %}
