{% extends "generic/list.html" %}
{% load i18n %}

{% block list_actions %}<a class="btn btn-outline-secondary" href="{% url 'costcenter-import' %}">{% translate "Import" %}</a>{% endblock %}

{% block list_header %}
<th>{% translate "Code" %}</th>
<th>{% translate "Name" %}</th>
<th>{% translate "Contract administrator name" %}</th>
<th>{% translate "Operators" %}</th>
<th>{% translate "Aircraft" %}</th>
<th>{% translate "Notes" %}</th>
{% endblock %}

{% block table_body %}{% include "registry/_costcenter_rows.html" %}{% endblock %}
