{% extends "generic/list.html" %}
{% load i18n %}

{% block list_actions %}<a class="btn btn-outline-secondary" href="{% url 'operator-import' %}">{% translate "Import" %}</a>{% endblock %}

{% block list_header %}
<th>{% translate "Name" %}</th>
<th>{% translate "RUT" %}</th>
<th>{% translate "DGAC credential" %}</th>
<th>{% translate "Credential expiry" %}</th>
<th>{% translate "Cost center" %}</th>
<th>{% translate "Qualification" %}</th>
{% endblock %}

{% block table_body %}{% include "registry/_operator_rows.html" %}{% endblock %}
